.navtop{
	padding:0;
	text-align:center;
}
.home{
	height:100%;
	background-color: #343a40;
	padding:12% 0;
	color:white;
}
.profileimg{
	width:10rem;
	height:10rem;
	margin:2%;
}
.resume{
	margin:2%;
	color:white;
}
